.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}



@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
